* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #FFFAD5;
  margin: 0 !important;
}

div#page {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

div#line {
  height: 8px;
  width: 100%;
  background-color: #105B63;
}

div#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  height: 30px;
}
div#header div#auth {
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-around;
}
div#header div#auth a {
  color: #105B63;
}
div#header div#local {
  height: 100%;
  width: 200px;
  background-color: #105B63;
  color: white;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
div#header div#local span {
  font-weight: 200;
}

div#authenticated {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
div#authenticated a {
  padding: 10px;
  background-color: #105B63;
  color: white;
  cursor: pointer;
}
div#authenticated #dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
}

div#voting {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
div#voting div#icon {
  display: flex;
  height: 100%;
  justify-content: center;
}
div#voting div#icon a {
  font-size: 6rem;
  color: #BD4932;
}
div#voting div#name {
  color: #BD4932;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
div#voting div#name p {
  display: flex;
  height: 100%;
  padding-top: 40px;
}

div#main p {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 1.5rem;
}

ul#polls {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

a.poll {
  width: 100%;
  background-color: #105B63;
  color: white;
  display: flex;
  justify-content: center;
  margin: 2px 0;
}

.hidden {
  display: none !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.form-group label {
  font-size: 1.2rem;
}

input[type="text"], select {
  display: flex;
  margin: 5px;
  width: 50%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 5px;
}
input[type="text"]:focus, select:focus {
  outline: none;
}

input[type="text"], select {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus, select:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

select {
  margin-top: 20px;
}
.short {
  width: 35% !important;
}

.pure-button{display:inline-block;zoom:1;line-height:normal;white-space:nowrap;vertical-align:middle;text-align:center;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.pure-button::-moz-focus-inner{padding:0;border:0}.pure-button{font-family:inherit;font-size:100%;padding:.5em 1em;color:#444;color:rgba(0,0,0,.8);border:1px solid #999;border:0 rgba(0,0,0,0);background-color:#E6E6E6;text-decoration:none;border-radius:2px}.pure-button-hover,.pure-button:hover,.pure-button:focus{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))}.pure-button:focus{outline:0}.pure-button-active,.pure-button:active{box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;border-color:#000\9}.pure-button[disabled],.pure-button-disabled,.pure-button-disabled:hover,.pure-button-disabled:focus,.pure-button-disabled:active{border:0;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);filter:alpha(opacity=40);-khtml-opacity:.4;-moz-opacity:.4;opacity:.4;cursor:not-allowed;box-shadow:none}.pure-button-hidden{display:none}.pure-button::-moz-focus-inner{padding:0;border:0}.pure-button-primary,.pure-button-selected,a.pure-button-primary,a.pure-button-selected{background-color:#0078e7;color:#fff}


.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #105B63;
}

button {
  width: 150px;
  margin: 5px;
}

button.small-button {
  width: 40px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
canvas {
  display: flex;
  margin: auto;
}