extends ./header.jade
block content
  #voting
    #icon
      a
        i.fa.fa-thumbs-up
    #name
      p
        | VOTE
  #main
    p
      | Select a poll to see the results and vote, or make a new poll.
  hr
  ul#polls
    each value in data
      a.poll(href="/poll/#{value._id}")
        p= value.question
  script(type='text/javascript', src='/assets/javascript/main.js')