extends ./header.jade
block content
  #voting
    #icon
      a
        i.fa.fa-thumbs-up
    #name
      p
        | VOTE
  #main
    p
      | Select a poll to see the results and vote, or sign-in to make a new poll.
  hr
  ul#polls
  script(type='text/javascript', src='/assets/javascript/main.js')