extends ./header.jade
block content
  #voting
    #icon
      a
        i.fa.fa-thumbs-up
    #name
      p
        | VOTE
  #main
    p
      | New Poll
  hr
  if message
    .alert.alert-danger= message
  form(action='/poll/new', method='post')
    .form-group
      label Question
      input(type='text', name='question')
    .form-group
      label Options
      input.short(type='text', name='option', required)
      input.short(type='text', name='option', required)
    #var
      button.button-success.pure-button.small-button() -
      button.button-success.pure-button.small-button() +
    button.button-success.pure-button(type='submit') Create
  script(type='text/javascript', src='/assets/javascript/main.js')